@import url(utility.css);

/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region DEBUG */

.debug>main {
    background-color: lightcoral;
}

.debug aside {
    background-color: lightblue;
}

.debug aside .logo {
    background-color: black;
}

.debug aside nav {
    background-color: lightsalmon;
}

.debug aside .playlist {
    background-color: lightgreen;
}

.debug .upgrade {
    background-color: lightgoldenrodyellow;
}

.debug footer {
    background: lightpink;
}

/* #endregion */

/* #region GENERAL */
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #6f6f6f;
}

main {
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
}

/* #endregion */

/* #region TYPOGRAPHY */
body,
.btn {
    font-family: "PT Sans", sans-serif;
}

aside,
.content .btn-big,
.content .subtitle {
    font-size: 0.75rem;
}

aside .playlist button i {
    font-size: 2rem;
}

.content nav {
    font-size: 0.875rem;
}

/* #endregion */

/* #region BUTTON */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-big {
    border: 1px solid #ffffff;
    border-radius: 3rem;
}

/* #endregion */

/* #region BARRA LATERALE */
aside {
    width: 232px;
    padding: 1.25rem 1.25rem 0.5rem;
}

aside .logo-big {
    max-width: 7.5rem;
}

aside nav img,
aside .download img,
aside .account img {
    vertical-align: middle;
}

aside .logo-small,
aside nav img {
    max-width: 1.7rem;
}

aside .playlist {
    overflow-y: auto;
}

aside .download img {
    max-width: 1rem;
}

aside .account-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}

aside .account-circle>img {
    object-fit: contain;
}

aside .mobile-only {
    display: none;
}

/* #endregion */

/* #region CONTENUTO APP */
.content {
    width: 100%;
    overflow-y: auto;
}

.content .upgrade {
    height: 90px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.content .col {
    width: calc(100% / 6 - 1.25rem);
}

.recently-played {
    line-height: 1rem;
}


.popular-artist .card img {
    border-radius: 50%;
}

/* #endregion */

/* #region RESPONSIVE */

/* #region SCHERMO 1100px */
@media screen and (max-width:1100px) {
    .content .col {
        width: calc(100% / 4 - 1.25rem)
    }
}

/* #endregion */

/* #region SCHERMO 700px */
@media screen and (max-width:700px) {
    .content .col {
        width: calc(100% / 2 - 1.25rem)
    }
}

/* #endregion */

/* #region SCHERMO 600px */
@media screen and (max-width:600px) {
    aside {
        width: 50px;
        padding: 0.5rem 0.75rem 0.5rem 0.625rem;
    }

    aside .logo {
        margin-bottom: 0.75rem;
    }

    aside .mobile-only {
        display: inline-block;
    }

    aside .desk-only {
        display: none;
    }

    aside .download {
        padding-bottom: 1rem;
        text-align: center;
    }

    aside .account {
        padding-left: 0.25rem;
    }

    .content {
        width: calc(100% - 50px);
    }
}

/* #endregion */

/* #endregion */

/* #endregion */