@import url(utility.css);

/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region DEBUG */

.debug>main {
    background-color: lightcoral;
}

.debug aside {
    background-color: lightblue;
}

.debug aside .logo {
    background-color: black;
}

.debug aside nav {
    background-color: lightsalmon;
}

.debug aside .playlist {
    background-color: lightgreen;
}

.debug .upgrade {
    background-color: lightgoldenrodyellow;
}

.debug footer {
    background: lightpink;
}

/* #endregion */

/* #region GENERAL */
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #6f6f6f;
}

main {
    height: calc(100dvh - 90px);
}

footer {
    height: 90px;
}

.img-container {
    position: relative;
}

.play {
    width: 100%;
    height: calc(100% - 4px);
    position: absolute;
    top: 0;
    left: 0;
}

/* #endregion */

/* #region TYPOGRAPHY */
body,
.btn {
    font-family: "PT Sans", sans-serif;
}

aside,
.content .btn-big,
.content .subtitle,
.current-text,
.player-bar {
    font-size: 0.75rem;
}

aside .playlist button i,
.player-btn>.play-btn {
    font-size: 2rem;
}

.content nav {
    font-size: 0.875rem;
}

.content nav span {
    cursor: pointer;
}

.play>.btn {
    font-size: 3rem;
}

.player-btn>:not(:nth-child(3)) {
    font-size: 1.125rem;
}

/* #endregion */

/* #region BUTTON */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-big {
    border: 1px solid #ffffff;
    border-radius: 3rem;
}

/* #endregion */

/* #region INPUT */
input[type="radio"] {
    display: none;
}

label {
    display: block;
    position: relative;
}

aside label {
    margin-left: -1.25rem;
}

aside input[type="radio"]:checked+label {
    border-left: 2px solid #adff2f;
}


.content input[type="radio"]:checked+label::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #adff2f;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

/* #endregion */

/* #region ASIDE LEFT */
aside {
    width: 232px;
    padding: 1.25rem 1.25rem 0.5rem;
    overflow-y: hidden;
}

aside .logo-big {
    max-width: 7.5rem;
}

aside nav img,
aside .download img,
aside .account img {
    vertical-align: middle;
}

aside .logo-small,
aside nav img {
    max-width: 1.7rem;
}

aside .playlist {
    overflow-y: auto;
}

aside .download img {
    max-width: 1rem;
}

aside hr {
    margin-bottom: -0.125rem;
}

aside .account-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}

aside .account-circle>img {
    object-fit: contain;
}

aside .mobile-only {
    display: none;
}

/* #endregion */

/* #region CONTENT APP */
.content {
    width: 100%;
    overflow-y: auto;
}

.content .upgrade {
    height: 90px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.content .col {
    width: calc(100% / 6 - 1.25rem);
}

.recently-played {
    line-height: 1rem;
}

.popular-artist .card img {
    border-radius: 50%;
}

/* #endregion */

/* #region FOOTER */
.current-img {
    width: 42px;
    height: 42px;
}

.current-text {
    line-height: 0.75rem;
}

.time-bar {
    height: 4px;
}

.player-bar .time-bar {
    width: 250px;
}

.advance-bar {
    width: calc(100% / 5);
    height: 100%;
}

.bar-circle {
    width: 10px;
    height: 10px;
    border-radius: 50rem;
    transform: translateY(-30%);
}

.multimedia .time-bar {
    width: 120px;
}

/* #endregion */

/* #region HOVER */
aside li :hover,
aside .btn :hover,
.content li span:hover,
footer .current-text small:hover,
footer .current-right :hover {
    color: #ffffff;
}

aside nav img:hover,
aside .download img:hover {
    filter: invert(0) sepia(0%) saturate(7465%) hue-rotate(53deg) brightness(98%) contrast(124%);
}

.content .upgrade .btn-big:hover,
.play-btn i:hover {
    transform: scale(1.1);
}

.card:hover .d-none {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .current-text small:hover {
    text-decoration: underline;
}

footer .advance-bar:hover {
    background-color: #adff2f;
}

footer .advance-bar:hover .d-none {
    display: inline-block;
    cursor: pointer;
}

/* #endregion */

/* #region RESPONSIVE */

/* #region SCHERMO 1100px */
@media screen and (max-width:1100px) {
    .content .col {
        width: calc(100% / 4 - 1.25rem)
    }
}

/* #endregion */

/* #region SCHERMO 700px */
@media screen and (max-width:700px) {
    .content .col {
        width: calc(100% / 2 - 1.25rem)
    }

    .current-right {
        flex-direction: column;
    }

    .player-bar .time-bar {
        width: 140px;
    }

    .multimedia .time-bar {
        width: 100px;
    }

    .multimedia-btn>:nth-child(2)>i {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* #endregion */

/* #region SCHERMO 600px */
@media screen and (max-width:600px) {
    aside {
        width: 50px;
        padding: 0.5rem 0.75rem 0.5rem 0.625rem;
    }

    aside .logo {
        margin-bottom: 0.75rem;
    }

    aside input[type="radio"]:checked+label {
        border: none;
    }

    aside label.px-125 {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    aside .mobile-only {
        display: inline-block;
    }

    aside .desk-only {
        display: none;
    }

    aside .download {
        margin-bottom: 0;
        padding-bottom: 1rem;
        padding-right: 0.175rem;
        text-align: center;
    }

    aside .account {
        margin-top: 0;
        padding-left: 0.175rem;
    }

    .content {
        width: calc(100% - 50px);
    }

    .current-song {
        gap: 0.5rem;
    }

    .player-central .player-bar {
        gap: 0.25rem
    }

    .player-bar .time-bar {
        width: 130px;
    }

    .multimedia .time-bar {
        width: 86px;
    }

    .multimedia-btn>:nth-child(2)>i {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

/* #endregion */

/* #region SCHERMO 530px */
@media screen and (max-width:530px) {

    .current-song .current-text,
    .multimedia .btn:not(:last-child) {
        display: none;
    }

    footer i {
        font-size: 0.75rem;
    }

    .player-central .play-btn i {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        font-size: 1.25rem;
        vertical-align: 20%;
    }

    .multimedia .time-bar {
        width: 46px;
    }
}

/* #endregion */

/* #endregion */